<body>
    <header class="header">
        <div class="jumbotron">
            <h1 class="display-4">Full Stack Developer</h1>
            <p class="lead">Passionate, Productive, and Precise.</p>
            <a class="btn btn-primary btn-lg" href="/projects" role="button">My Work</a>
        </div>
    </header>

    <section class="about">
        <div class="jumbotron">
            <h1 class="display-4">Looking for a Developer?</h1>
            <p class="lead">Below are the skills I use on a daily basis.</p>
        </div>
    </div>

    <section class="skills">

        <h1 class="front-end-h1">Front-End Skills</h1>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fab fa-html5"></i>&nbsp;HTML</h5>
                <ul>
                    <li>HTML5</li>
                    <li>Semantic</li>
                </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fab fa-css3-alt"></i>&nbsp;CSS3</h5>
                <ul>
                    <li>Grid</li>
                    <li>Flexbox</li>
                    <li>Responsive</li>
                    <li>Animations</li>
                    <li>Layouts</li>
                    <li>Semantic UI</li>
                    <li>Bootstrap</li>
                    <li>Materialize</li>
                </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fab fa-js-square"></i>&nbsp;Javscript</h5>
                <ul>
                    <li>ES5, ES6</li>
                    <li>REACT.js</li>
                    <li>Ember.js</li>
                    <li>Jquery</li>
                    <li>Ajax</li>
                    <li>Unit Testing (Jasmine.js)</li>
                </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="backend-skills">

        <h1 class="front-end-h1">Back-End Skills</h1>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fas fa-code"></i>&nbsp;Languages</h5>
                <ul>
                    <li>Ruby</li>
                    <li>Node.js</li>
                    <li>SQL (Postgres, MySQL)</li>
                </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fas fa-crop-alt"></i>&nbsp;Frameworks & Libs</h5>
                <ul>
                    <li>Sinatra</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Fetch</li>
                    <li>Axios</li>
                </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fas fa-tools"></i>&nbsp;Tools & More</h5>
                <ul>
                    <li>AWS (Amazon Web Services)</li>
                    <li>RDS</li>
                    <li>S3 Bucket</li>
                    <li>Npm / Yarn</li>
                    <li>GIT</li>
                    <li>Lighthouse</li>
                    <li>DBeaver</li>
                    <li>Adobe XD</li>
                    <li>Paypal and Stripe API</li>
                </ul>
                </div>
            </div>
        </div>
    </section>
</body>